<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to 'Reserva de Cabañas', root_path, class:"navbar-brand text-decoration-none" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to 'Mis Reservas', user_reservations_url(current_user.id), class:"nav-link active text-decoration-none" %>
          </li>
        <% else %>  
          <li class="nav-item">
            <%= link_to 'Log In with Google', '/auth/google_oauth2', class:"nav-link active text-decoration-none" %>
          </li>
        <% end %>
          <li class="nav-item">
            <%= link_to 'Formulario contacto', contact_form_path, class:"nav-link text-decoration-none" %>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-decoration-none" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cabañas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to 'Cabaña 1', new_cabin_reservation_path(1), class:"dropdown-item text-decoration-none" %></li>
            <li><%= link_to 'Cabaña 2', new_cabin_reservation_path(2), class:"dropdown-item text-decoration-none" %></li>
            <li><%= link_to 'Cabaña 3', new_cabin_reservation_path(3), class:"dropdown-item text-decoration-none" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>