<div id='cabin-reservation-dates' data-unavailable="<%= @cabin.unavailable_dates.to_json %>">
<%= simple_form_for([@cabin, Reservation.new], local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 35rem;">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% @cabin.cabin_pics.each_with_index do |cabin_pic, idx|%>
                <div class="carousel-item <%= ' active' if idx == 0 %>">
                  <img src=<%= cabin_pic.pictures %> class="card-img-top w-100" alt="Vista de la cabaña">
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center"><%= @cabin.name %></h5>
            <p class="card-text">
              <%= @cabin.description%>
            </p>
            <p class="card-text text-center">Disponible desde 25/06/2022</p>
          </div>
          <div class="card-footer bg-white text-end ">
            <small class="fw-bold ">CLP <%= @cabin.price %> por noche</small>
          </div>
        </div>
      </div>

      <div class="col">
        <form>
          <div class="mb-3">
            <%= form.label :'Fecha inicio de reserva', class:"form-label" %>
            <%= form.text_field :start_time, as: :string, class:"form-control", 'data-provide':'datepicker' %>
          </div>

          <div class="mb-3">
            <%= form.label :'Fecha fin de reserva', class:"form-label" %>
            <%= form.text_field :end_time, as: :string, class:"form-control", 'data-provide':'datepicker' %>
          </div>
          <div class="mb-3">
            <%= form.label :Nombre, class:"form-label" %>
            <%= form.text_field :name, class:"form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :Email, class:"form-label" %>
            <%= form.email_field :email, class:"form-control" %>
          </div>

          <div class="actions mb-3 text-center">
            <%= form.submit 'Reservar', class:"btn btn-info" %>
          </div>
        </form>
      </div>
    </div>
  </div>  
<% end %>

<script>
  const startDateInput = document.getElementById('reservation_start_time');
  const endDateInput = document.getElementById('reservation_end_time');

  if (startDateInput) {
  const unavailableDates = JSON.parse(document.querySelector('#cabin-reservation-dates').dataset.unavailable)
  endDateInput.disabled = true

  flatpickr(startDateInput, {
    minDate: "today",
    disable: unavailableDates,
    dateFormat: "Y-m-d",
  });


  startDateInput.addEventListener("change", (e) => {
    if (startDateInput != "") {
      endDateInput.disabled = false
    }
    flatpickr(endDateInput, {
      minDate: e.target.value,
      disable: unavailableDates,
      dateFormat: "Y-m-d"
      });
    })
  };
</script>