<p id="notice"><%= notice %></p>

<h1>Sus reservas</h1>

<table>
  <thead>
    <tr>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
      <th>Cabaña</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.start_time %></td>
        <td><%= reservation.end_time %></td>
        <td><%= reservation.cabin.name %></td>
        <td><%= link_to 'Destroy', user_reservation_url(current_user.id, reservation.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

