<p id="notice"><%= notice %></p>
<div class="container my-5 text-center">
  <h2 class="my-3">Detalles de tu reserva</h2>
  <div class="my-3">
    <strong >Fecha inicio reserva:</strong>
    <%= @reservation.start_time.to_time.strftime('%d-%B-%Y') %>
  </div>

  <div class="my-3">
    <strong>Fecha fin reserva:</strong>
    <%= @reservation.end_time.to_time.strftime('%d-%m-%Y') %>
  </div>

  <div class="my-3">
    <strong>Cabaña:</strong>
    <%= @reservation.cabin.name %>
  </div>

  <%= link_to 'Voler a la vista principal', root_path , class:"btn btn-info text-decoration-none"%>
</div>