<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @reservation.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @reservation.end_time %>
</p>

<p>
  <strong>Cabin:</strong>
  <%= @reservation.cabin %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user %>
</p>

<%= link_to 'Back', root_path %>
